<div class="row">
    <div class="col-md-12">
  
      <h2>Listado de Administradores</h2>
  
      <% flash.get('mensaje').forEach(function (msg) { %>
        <div class="alert alert-success" role="alert">
          <%=msg%>
        </div>
        <% }) %>

      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>email</th>
            <th>Activo(a)</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
            <% administradores.forEach( admin => { %>
                <tr>
                  <td><%=admin.id%></td>
                  <td><%=admin.nombre%></td>
                  <td><%=admin.email%></td>
                  <td><%=admin.activa ? "Si" : "No"%></td>
                  <td>
                    <% if (admin.activa) { %>
                    <a href="/admin/desactivar-admin/<%=admin.id%>" class="btn btn-info">Desactivar Admin</a>
                    <% } else { %>
                    <a href="/admin/activar-admin/<%=admin.id%>" class="btn btn-primary">Activar Admin</a>
                    <% } %>
                  </td>
                </tr>
              <% }) %>
        </tbody>
      </table>
  
      <a href="/admin/agregar-foto" class="btn btn-primary">Agregar Foto</a>
  
    </div>
  
  </div>
  